<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>208108485381-t8u7stephfhss3f4v8hkhtnfbdm3r43s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.208108485381-t8u7stephfhss3f4v8hkhtnfbdm3r43s</string>
	<key>API_KEY</key>
	<string>AIzaSyCvJ2wlTXrhUaVAjZa0VOWpGDfUkP_5QJc</string>
	<key>GCM_SENDER_ID</key>
	<string>208108485381</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.rosehulman.zhangy42.CSSE484GameBoard</string>
	<key>PROJECT_ID</key>
	<string>csse484projectgameboard</string>
	<key>STORAGE_BUCKET</key>
	<string>csse484projectgameboard.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:208108485381:ios:e6d49e31730d59a4f5956c</string>
</dict>
</plist>